@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Imbue:opsz,wght@10..100,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "imbue";
}

h1{
    font-size: 60px;
    font-weight: 400;
    line-height: 100px;
}
h2{
    font-size: 50px;
    font-weight: 500;
    line-height: 40px;
    
}
h3{
    font-size: 48px;
    font-weight: 300;
}
h4{
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}
h5{
    font-size: 20px;
    font-weight: 300;
}
h6{
    font-size: 16px;
}

body{
    background-color: #e3dac92c;
}

header{
    width: 100%;
    margin: auto;
    position: fixed;
    z-index: 999;
}

header>ul{
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

header>ul>li{
    list-style: none;
    text-transform: uppercase;
    font-size: 24px;
}

.control{
    width: 20px;
    height: 20px;
    overflow: hidden;
    display: flex;
    position: relative;

    border: 3px solid #000000;
    opacity: .7;
    animation: reproducirAudio 1s infinite alternate ease-in-out;
}

@keyframes reproducirAudio {
    to{
        transform: scale(1.1);
    }
}

.control>audio{
    position: absolute;
    top: -20px;
    left: -19px;
}

main{
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.portada{
    width: 90%;
    height: 100vh;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.fondo{
    max-width: 500px;
    height: 75vh;
    margin: auto;
    overflow: hidden;
    display: flex;
    z-index: 10;
    right: 0px;
    border-radius: 50vw;
    border: 10px double #ffffff;
}

.fondo img{
    width: 0;
    height: 100%;
    flex-grow: 1;
    object-fit: cover;
}

.contenedorNombre>div{
    margin-top: 10px;
    animation: zoom1 linear both;
    animation-timeline: scroll(root);
    animation-range: 0 500px;
}

@keyframes zoom1 {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

.contenedorNombre>div>h1{
    font-family: "Great Vibes";
    text-align: center;
}

.contenedorNombre>div>h2{
    font-family: "Great Vibes";
    text-align: center;
}

.apellidos{
    flex-direction: column;
}

.leyendaInvitación{
    margin-top: 100px;
    padding: 100px 20px 200px;
    background: url(image/Flor3.png) no-repeat center top;
}

.leyendaInvitación>h4{
    font-family: "Playfair Display";
    text-align: center;
}

.resaltarLeyenda{
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0px;
    color: #002000;
    line-height: 28px;
}

.agradecimientosPadres{
    max-width: 1000px;
    position: relative;
}

.galeriaFotografica{
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 10px 80px;
    position: relative;
    align-content: center;
}

.fondoGaleria{
    z-index: -1;
    width: 1000px;
    position: absolute;
    top: -100px;
    bottom: 0;
}

.fondoGaleria>img{
    width: 100%;
}

.targetaFoto{
    width: 70%;
    padding-left: 50px;
}

.targetaFoto>h4{
    padding-top: 10px;
    text-align: center;
    width: 100%;
    padding-bottom: 30px;
    font-weight: 300;
}

.targetaFoto>h3{
    font-size: 40px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
    font-weight: 300;
    line-height: 30px;
}

.cajaImg{
    width: 100%;
    display: flex;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #a2b27d41;
    box-shadow: inset 0px 5px 20px #000000;
}

.cajaImg>img{
    width: 0;
    height: 50vh;
    flex-grow: 1;
    object-fit: cover;
}

.textoGaleria{
    position: absolute;
    writing-mode: vertical-lr;
    color: #002000;
    right: 10px;

    animation: agradecer linear both;
    animation-timeline: scroll(root);
    animation-range: 1000px 2000px;
}

.textoGaleria>h2{
    font-size: 80px;
}

@keyframes agradecer{
    from{
        top: -60px;
        right: 10px;
    }

    to{
        top: 300px;
        right: 50px;
    }
}


.teEspero{
    width: 100%;
    padding: 150px 10px 100px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url(image/ComposicionFM.png) no-repeat;
}

.teEspero>div{
    z-index: 0px;
}

.teEspero>div>h2{
    color: #002000;
}


.conteo{
    display: flex;
    gap: 5px;

}

.conteoFestejo{
    color: #002000;
    animation: conteoRegresivo linear;
    animation-timeline: scroll(root);
    animation-range: 1300px 2800px;
}

@keyframes conteoRegresivo{
    from{
        scale: 0.5;
    }
    to{
        scale: 1;
    }
}

.conteo h2{
    font-weight: 100;
}

.carruselFotografico{
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 40px;
}

.carruselFotografico ul{
    display: flex;
    width: 300%;
    animation: carrusel 20s infinite alternate ease-in-out;
}

@keyframes carrusel{
    0%{ margin-left: 0; }
    8%{ margin-left: 0; }
    33%{ margin-left: -100%; }
    45%{ margin-left: -100%; }
    66%{ margin-left: -200%; }
    75%{ margin-left: -200%; }
}

.carruselFotografico li{
    width: 100%;
    list-style: none;
    position: relative;
    display: flex;
}

.carruselFotografico img{
    width: 0;
    height: 100%;
    flex-grow: 1;
    object-fit: cover;
}

.contenedorTarjetas{
    width: 100%;
    padding: 80px 10px 120px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.Tarjeta{
    width: min(85%,450px);
    height: 300px;
    margin: auto;
    position: relative;
    box-shadow: 0px 4px 8px #00000054;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.Anverso{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #164a2c;
    background: radial-gradient(circle, #a2b27d 0%, #283115 100%);
}

.Anverso>img{
    height: 90%;
    opacity: .3;
    filter: brightness(1.2);
}

.Reverso{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #ffffff79;
    text-align: center;
    color: #002000;
    transition: opacity 300ms ease-in-out;
}

.Reverso>img{
    width: 40%;
}

.cursiva{
    font-family: "Great Vibes";
    color: #000000;
    line-height: 34px;
    text-shadow: 0px 2px 4px #00000054;
}

.Reverso:hover{
    opacity: 1;
}

.imagenDespedida{
    width: 100%;
    display: flex;
    position: relative;
}

.imagenDespedida>div{
    width: 100%;
    height: 40px;
    bottom: 0;
    background: linear-gradient(#00000000, #d7ddc7);
    position: absolute;
}

.imagenDespedida>img{
    width: 0;
    height: 60vh;
    flex-grow: 1;
    object-fit: cover;
}

.asistencia{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 10px;
    background: linear-gradient(#d7ddc7 10%, #a2b27d 100%);
}

.asistencia h3{
    color: #002000;
}

.asistencia img{
    width: 80px;
    transition: transform 300ms ease-in-out;
}

.asistencia img:hover{
    transform: scale(1.1);
}
